doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Bobby Brennan
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/freelancer.css', rel='stylesheet')
    link(href='/css/index.css', rel='stylesheet')
    link(rel="icon" href="favicon.ico?")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    script(src="/js/google-analytics.js")
  body#page-top.index
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#page-top') Bobby Brennan
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#about') About
            li.page-scroll
              a(href='#portfolio') Portfolio
            li.page-scroll
              a(href='#contact') Contact
    header
      img.header-img(src="/img/headshot.jpg")
      .container
        .row
          .col-lg-12
            h1.name Bobby Brennan
            h2.skills Software Engineer
    // About Section
    section#about.success
      .container
        .row
          .col-lg-12.text-center
            h2 About
            hr.circle-light
        .row.text-center
          .col-lg-2
          .col-lg-8
            p.
              I'm an experienced software engineer with degrees in Computer Science, Mathematics, and Linguistics.
              I specialize in Developer Tools, Machine Learning, and Natural Language Processing.
              However, I am at heart a generalist, love learning new technologies, and am comfortable working on frontends and backends alike.
          .col-lg-2
    section#portfolio
      .container
        .row
          .col-lg-12.text-center
            h2 Portfolio
            hr.circle-primary
        mixin portfolio-item(title, caption, link)
          .portfolio-item.col-xs-12.col-md-8.col-md-offset-2
            h4
              span= title
            p= caption
            h4
              small
                a(href=link) View Project 
                  i.fa.fa-external-link
        h3.text-center Websites
        .row
          +portfolio-item('DataFire.io',
                          'DataFire is an API integration and task automation platform',
                          'https://datafire.io')
          +portfolio-item('AnyAPI',
                          'AnyAPI provides documentation and test consoles for over 100 public APIs',
                          'https://any-api.com')
        h3.text-center Open Source
        .row
          +portfolio-item('DataFire Framework',
                          'The DataFire framework is an MIT-licensed framework for working with APIs, databases, and other services. It drives the DataFire.io platform.',
                          'https://github.com/DataFire/DataFire')
          +portfolio-item('API Spec Converter',
                          'api-spec-converter is a library for converting between API description formats such as Swagger and I/O Docs ',
                          'https://github.com/lucybot/api-spec-converter')
          +portfolio-item('rss-parser',
                          'A lightweight utility for parsing RSS/Atom feeds in Node and the Browser, with over 5,000 downloads/month',
                          'https://github.com/bobby-brennan/rss-parser')
          +portfolio-item('Strapping!',
                          'Strapping is an open-source GUI for building customized Bootstrap themes.',
                          'http://bbrennan.info/strapping')
        h3.text-center Apps
        .row
          +portfolio-item('Posted',
                          'Posted is an Android app that uses natural language processing to detect breaking news on any topic in real time',
                          'https://play.google.com/store/apps/details?id=info.bbrennan.posted&hl=en')
        h3.text-center Writing
        .row
          +portfolio-item('JavaScript ES6 Promises - Patterns and Anti-patterns',
                          'A breif rundown on best practices when using JavaScript Promises',
                          'https://medium.com/datafire-io/es6-promises-patterns-and-anti-patterns-bbb21a5d0918')
          +portfolio-item('Upgrading to Async/Await with JavaScript ES8',
                          'An overview of the benefits of async/await syntax in JavaScript',
                          'https://medium.com/datafire-io/upgrading-to-async-await-with-javascript-es7-3c67602ea7f8')
    // Contact Section
    section#contact.success
      .container
        .row
          .col-lg-12.text-center
            h2 Contact
            hr.circle-light
        .row
          .col-xs-12.text-center
            .btn-toolbar
              mixin social-link(link, icon)
                a.btn.btn-sm.btn-primary(href=link)
                  i.fa.fa-2x(class="fa-#{icon}")
              +social-link("https://github.com/bobby-brennan", 'github')
              +social-link("https://www.linkedin.com/in/bobbybrennan", 'linkedin')
              +social-link("https://twitter.com/bobby_lucybot", 'twitter')
              +social-link("mailto:bobby.brennan@gmail.com", 'envelope')

    footer.text-center
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright &copy; Bobby Brennan 2018
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='/js/classie.js')
    script(src='/js/cbpAnimatedHeader.js')
    script(src='/js/jqBootstrapValidation.js')
    script(src='/js/contact_me.js')
    script(src='/js/freelancer.js')
